<p-growl [(value)]="msgs"></p-growl>

<p-dialog [(visible)]="abierto" [modal]="true" [autoAlign]="true" [width]="500" (onHide)="cancelar()" [resizable]="false"
  [draggable]="false" [appendTo]="body" [responsive]="true">
  <p-header>
    Formulario Usuario
  </p-header>

  <div class="ui-grid-row">
    <img *ngIf="!usuarioSeleccionado.imagen" src="../assets/avatar.png" alt="Nombre" [ngStyle]="{'text-align':'center'}" width="30%"
      height="30%">
    <img *ngIf="usuarioSeleccionado.imagen" src="http://localhost:8080/api/upload/files/{{usuarioSeleccionado.imagen}}" alt="Nombre"
      [ngStyle]="{'text-align':'center'}" width="30%" height="30%"> 
    </div>
    <br>
  <form #formUsuario="ngForm">
    <div class="ui-g ui-fluid">
      <div class="ui-sm-12 ui-md-6">
        <div class="ui-grid-row">
          <span class="ui-float-label">
            <input id="float-input" type="text" size="30" [ngStyle]="{'width':'100%'}" pInputText name="dni" #dni="ngModel" [(ngModel)]="usuarioSeleccionado.dni"
              required>
            <label for="float-input">NIF</label>
          </span>
        </div>
      </div>
      <div class="ui-sm-12 ui-md-6">
        <div class="ui-grid-row">
          <span class="ui-float-label">
            <input id="float-input" type="text" size="30" [ngStyle]="{'width':'100%'}" pInputText name="nombre" #nombre="ngModel" [(ngModel)]="usuarioSeleccionado.nombre"
              required>
            <label for="float-input">Nombre</label>
          </span>
        </div>
      </div>
    </div>
    <br>
    <div class="ui-g ui-fluid">
      <div class="ui-sm-12 ui-md-6">
        <div class="ui-grid-row">
          <span class="ui-float-label">
            <input id="float-input" type="text" size="30" [ngStyle]="{'width':'100%'}" pInputText name="apellido" #apellido="ngModel"
              [(ngModel)]="usuarioSeleccionado.apellido" required>
            <label for="float-input">Apellido</label>
          </span>
        </div>
      </div>
      <div class="ui-sm-12 ui-md-6">
        <div class="ui-grid-row">
          <span class="ui-float-label">
            <input id="float-input" type="email" size="30" [ngStyle]="{'width':'100%'}" pInputText name="email" #email="ngModel" [(ngModel)]="usuarioSeleccionado.email"
              required>
            <label for="float-input">Email</label>
          </span>
        </div>
      </div>
    </div>
    <br>
    <div class="ui-g ui-fluid">
      <div class="ui-sm-12 ui-md-6">
        <div class="ui-grid-row">
          <span class="ui-float-label">
            <input id="float-input" type="text" size="30" [ngStyle]="{'width':'100%'}" pInputText name="telefono" #telefono="ngModel"
              [(ngModel)]="usuarioSeleccionado.telefono">
            <label for="float-input">Teléfono</label>
          </span>
        </div>
      </div>
      <div class="ui-sm-12 ui-md-6">
        <div class="ui-grid-row">
          <span class="ui-float-label">
            <input id="float-input" type="password" size="30" [ngStyle]="{'width':'100%'}" pInputText name="password" #password="ngModel"
              [(ngModel)]="usuarioSeleccionado.password" required>
            <label for="float-input">Contraseña</label>
          </span>
        </div>
      </div>
    </div>
    <div class="ui-g ui-fluid">
      <div class="ui-sm-12 ui-md-12">
        <div class="ui-grid-row">
          <label for="float-input">Imagen</label>
          <div class="ui-inputgroup">
            <input id="float-input" type="file" name="imagen" #imagen="ngModel" [(ngModel)]="usuarioSeleccionado.imagen" size="30" (change)="selectFile($event)"
              [ngStyle]="{'width':'100%'}" pInputText>
            <button pButton type="button" pButton icon="fa-retweet" class="ui-button-info" pTooltip="Imagen por defecto" tooltipPosition="bottom"
              (click)="resetImage()"></button>
          </div>
        </div>
      </div>
    </div>
  </form>
  <p-footer>
    <div class="ui-g">
      <div class="ui-sm-12 ui-md-12">
        <button [ngStyle]="{'float':'right'}" pTooltip="Guardar" tooltipPosition="left" [disabled]="!formUsuario.form.valid" pButton
          icon="fa-check" (click)="upload(formUsuario)" class="ui-button-success d-block d-sm-none btn-block"></button>
        <button [ngStyle]="{'float':'right'}" pTooltip="Guardar" tooltipPosition="left" [disabled]="!formUsuario.form.valid" pButton
          icon="fa-check" (click)="upload(formUsuario)" class="ui-button-success d-none d-sm-block "></button>
      </div>
    </div>
  </p-footer>
</p-dialog>