<p-growl [(value)]="msgs"></p-growl>
<p-confirmDialog acceptLabel="Si" rejectLabel="No"></p-confirmDialog>
<div class="ui-g">
  <div class="ui-g-12">
    <p-schedule class="calendario" #fc (onEventClick)="seleccionarReserva($event.calEvent.reserva)" (onViewRender)="clickeado(fc)"
      [events]="eventos" [eventLimit]="4" locale="es" [header]="header" #fc></p-schedule>
  </div>
</div>

<p-dialog *ngIf="reservaSeleccionada.id" header="Reserva" [(visible)]="reservaSeleccionada.id" [modal]="true" [autoAlign]="true"
  (onHide)="cancelar()" [resizable]="false" [draggable]="false" [closable]="true" [appendTo]="body" [responsive]="true">
  <div>
    <b>Recurso:</b>
    <span>{{reservaSeleccionada.recurso.nombre}}</span>
  </div>
  <div>
    <b>Fecha:</b>
    <span>{{reservaSeleccionada.fechas_reservas[0]}}</span>
  </div>
  <div>
    <b>Hora:</b>
    <span>{{reservaSeleccionada.intervalos_reservas[0]}}</span>
  </div>
  <div>
    <b>Curso:</b>
    <span>{{reservaSeleccionada.curso.nombre}}</span>
  </div>
  <div>
    <b>Anotación:</b>
    <textarea rows="5" cols="30" pInputTextarea autoResize="autoResize" [ngStyle]="{'width':'100%'}" pInputText name="anotacion"
      #anotacion="ngModel" [(ngModel)]="reservaSeleccionada.anotacion"></textarea>
  </div>
  <p-footer>
    <div class="ui-g">
      <div class="ui-sm-12 ui-md-6">
        <button [ngStyle]="{'float':'left'}" pTooltip="Cancelar reserva" (click)="confirmacionBorrado()" tooltipPosition="left" pButton
          icon="fa-trash" class="ui-button-danger"></button>
      </div>
      <div class="ui-sm-12 ui-md-6">
        <button [ngStyle]="{'float':'right'}" pTooltip="Guardar" tooltipPosition="left" pButton icon="fa-check" (click)="saveReserva()"
          class="ui-button-success"></button>
      </div>
    </div>
  </p-footer>
</p-dialog>