<p-growl [(value)]="msgs"></p-growl>
<p-confirmDialog acceptLabel="Si" rejectLabel="No"></p-confirmDialog>
<h3>Histórico Profesores</h3>

<div class="ui-g">
  <div class="ui-g-12">
    <div class="ui-g">
      <div class="ui-sm-12 ui-md-6">
        <div class="ui-grid-row">
          <button [ngStyle]="{'float':'left'}" pTooltip="Refrescar" tooltipPosition="bottom" pButton icon="fa-retweet" class="ui-button-info d-none d-sm-block"
            (click)="getUsuarios()"></button>
          <button [ngStyle]="{'float':'left'}" pTooltip="Refrescar" tooltipPosition="bottom" pButton icon="fa-retweet" class="ui-button-info d-block d-sm-none btn-block"
            (click)="getUsuarios()"></button>
        </div>
      </div>
    </div>
    <div class="containerTabla">
      <p-table #dt class="hoverTable" [columns]="cols" [value]="usuarios" [paginator]="true" [rows]="10" [responsive]="true">
        <ng-template pTemplate="emptymessage">
          <tr>
            <th>No hay registros</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="header" let-columns>
          <tr>
            <th *ngFor="let col of columns" [ngStyle]="{'text-align':'center'}">
              {{col.header}}
            </th>
          </tr>
          <tr>
            <th *ngFor="let col of columns">
              <input pInputText type="text" (input)="filter(col.field,$event.target.value)" [ngStyle]="{'width':'100%'}">
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns">
          <tr [pSelectableRow]="rowData" [ngClass]="{'cellRed': !rowData.estado}">
            <td *ngFor="let col of columns" (click)="seleccionarUsuario(rowData)" [ngStyle]="{'text-align':'center'}">
              <div class="scrollable" *ngIf="col.header==='Nombre' || col.header==='Apellido'">
                <span>{{rowData[col.field] | nombre}}</span>
              </div>
              <div class="scrollable" *ngIf="col.header!=='Nombre' && col.header!=='Apellido'">
                <span>{{rowData[col.field]}}</span>
              </div>
            </td>
          </tr>
        </ng-template>
      </p-table>
      <div class="divLoading" *ngIf="loading">
        <p-progressSpinner></p-progressSpinner>
      </div>
    </div>
  </div>
</div>
<p-dialog [(visible)]="modificando" [modal]="true" [autoAlign]="true" [width]="500" (onHide)="cancelar();formUsuario.reset()"
  [resizable]="false" [draggable]="false" [responsive]="true">
  <p-header>
    Formulario Usuario
  </p-header>

  <div class="ui-grid-row">
    <img *ngIf="!usuarioSeleccionado.imagen" src="../assets/avatar.png" alt="Nombre" [ngStyle]="{'text-align':'center'}" width="30%"
      height="30%">
    <img *ngIf="usuarioSeleccionado.imagen" src="http://localhost:8080/api/upload/files/{{usuarioSeleccionado.imagen}}" alt="Nombre"
      [ngStyle]="{'text-align':'center'}" width="30%" height="30%">
  </div>
  <br>
  <form #formUsuario="ngForm">
    <div class="ui-g ui-fluid">
      <div class="ui-sm-12 ui-md-6">
        <div class="ui-grid-row">
          <span class="ui-float-label">
            <input id="float-input" type="text" size="30" [ngStyle]="{'width':'100%'}" pInputText name="dni" #dni="ngModel" [(ngModel)]="usuarioSeleccionado.dni"
              required readonly>
            <label for="float-input">NIF</label>
          </span>
        </div>
      </div>
      <div class="ui-sm-12 ui-md-6">
        <div class="ui-grid-row">
          <span class="ui-float-label">
            <input id="float-input" type="text" size="30" [ngStyle]="{'width':'100%'}" pInputText name="nombre" #nombre="ngModel" [(ngModel)]="usuarioSeleccionado.nombre"
              required readonly>
            <label for="float-input">Nombre</label>
          </span>
        </div>
      </div>
    </div>
    <br>
    <div class="ui-g ui-fluid">
      <div class="ui-sm-12 ui-md-6">
        <div class="ui-grid-row">
          <span class="ui-float-label">
            <input id="float-input" type="text" size="30" [ngStyle]="{'width':'100%'}" pInputText name="apellido" #apellido="ngModel"
              [(ngModel)]="usuarioSeleccionado.apellido" required readonly>
            <label for="float-input">Apellido</label>
          </span>
        </div>
      </div>
      <div class="ui-sm-12 ui-md-6">
        <div class="ui-grid-row">
          <span class="ui-float-label">
            <input id="float-input" type="text" size="30" [ngStyle]="{'width':'100%'}" pInputText name="telefono" #telefono="ngModel"
              [(ngModel)]="usuarioSeleccionado.telefono" pattern="\d*" readonly>
            <label for="float-input">Teléfono</label>
          </span>
        </div>
      </div>
    </div>
    <br>
    <div class="ui-g ui-fluid" [ngSwitch]="usuarioSeleccionado.id">
      <div [ngClass]="{'ui-sm-12 ui-md-6': !usuarioSeleccionado.id, 'ui-sm-12 ui-md-12': usuarioSeleccionado.id}" class="ui-sm-12 ui-md-12">
        <div class="ui-grid-row">
          <span class="ui-float-label">
            <input id="float-input" type="email" size="30" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" [ngStyle]="{'width':'100%'}"
              pInputText name="email" #email="ngModel" [(ngModel)]="usuarioSeleccionado.email" required readonly>
            <label for="float-input">Email</label>
          </span>
        </div>
      </div>
      <div *ngSwitchCase="false" class="ui-sm-12 ui-md-6">
        <div class="ui-grid-row">
          <span class="ui-float-label">
            <input id="float-input" type="password" size="30" [ngStyle]="{'width':'100%'}" pInputText name="password" [(ngModel)]="password"
              required readonly>
            <label for="float-input">Contraseña</label>
          </span>
        </div>
      </div>
    </div>
    <br>
    <p-table #dt2 [columns]="colsCursos" [paginator]="true" [rows]="10" [value]="usuarioSeleccionado.cursos" [filterDelay]="50">
      <ng-template pTemplate="emptymessage">
        <tr>
          <th>No hay registros</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="caption">
        <div style="text-align: right">
          <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
          <input type="text" pInputText placeholder="Global Filter" (input)="dt2.filterGlobal($event.target.value, 'contains')" style="width:auto">
        </div>
      </ng-template>
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th *ngFor="let col of columns">
            {{col.header}}
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr>
          <td *ngFor="let col of columns">
            {{rowData[col.field]}}
          </td>
        </tr>
      </ng-template>
    </p-table>
  </form>

  <p-footer>
    <div class="ui-g">
      <div class="ui-sm-12 ui-md-6">
        <button *ngIf="usuarioSeleccionado.id" [ngStyle]="{'float':'left'}" pTooltip="Dar de alta" (click)="confirmarDarAlta()" tooltipPosition="left"
          pButton icon="fa-check" class="ui-button-success d-none d-sm-block"></button>
        <button *ngIf="usuarioSeleccionado.id" [ngStyle]="{'float':'left'}" pTooltip="Dar de alta" (click)="confirmarDarAlta()" tooltipPosition="left"
          pButton icon="fa-check" class="ui-button-success d-block d-sm-none btn-block "></button>
      </div>
      <div class="ui-sm-12 ui-md-6">
        <button [ngStyle]="{'float':'right'}" pTooltip="Ver historico de reservas" tooltipPosition="left" [disabled]="!formUsuario.form.valid || !usuarioSeleccionado.cursos[0]"
          pButton icon="fa-list" (click)="abrirDialogReservas()" class="ui-button-info d-none d-sm-block"></button>
        <button [ngStyle]="{'float':'right'}" pTooltip="Ver historico de reservas" tooltipPosition="left" [disabled]="!formUsuario.form.valid || !usuarioSeleccionado.cursos[0]"
          pButton icon="fa-list" (click)="abrirDialogReservas()" class="ui-button-info d-block d-sm-none btn-block "></button>
      </div>
    </div>
  </p-footer>
</p-dialog>

<p-dialog [(visible)]="historialReservas" [modal]="true" [autoAlign]="true" [width]="700" (onHide)="cancelarDialogReservas()"
  [resizable]="false" [draggable]="false" [responsive]="true">
  <p-header>
    Historial reservas del usuario
  </p-header>
  <div class="containerCalendar">
    <p-schedule class="calendario" #fc (onEventClick)="seleccionarReserva($event.calEvent.reserva)" (onViewRender)="clickeado(fc)"
      [events]="eventos" [eventLimit]="4" locale="es" [header]="header" #fc></p-schedule>
    <div class="divLoading" *ngIf="loadingReservas">
      <p-progressSpinner></p-progressSpinner>
    </div>
  </div>
</p-dialog>

<p-dialog *ngIf="reservaSeleccionada.id" header="Reserva" [(visible)]="reservaSeleccionada.id" [modal]="true" [autoAlign]="true"
  (onHide)="cancelarBorrado()" [resizable]="false" [draggable]="false" [closable]="true" [appendTo]="body" [responsive]="true">
  <div>
    <b>Profesor:</b>
    <span>{{reservaSeleccionada.usuario.nombre}}</span>
  </div>
  <div>
    <b>Recurso:</b>
    <span>{{reservaSeleccionada.recurso.nombre}}</span>
  </div>
  <div>
    <b>Fecha:</b>
    <span>{{reservaSeleccionada.fechas_reservas[0] | date: 'dd/MM/yyyy' }}</span>
  </div>
  <div>
    <b>Hora:</b>
    <span>{{reservaSeleccionada.intervalos_reservas[0]}}</span>
  </div>
  <div>
    <b>Curso:</b>
    <span>{{reservaSeleccionada.curso.nombre}}</span>
  </div>
  <div>
    <b>Anotación:</b>
    <textarea rows="5" cols="30" pInputTextarea autoResize="autoResize" [ngStyle]="{'width':'100%'}" pInputText name="anotacion"
      #anotacion="ngModel" [(ngModel)]="reservaSeleccionada.anotacion"></textarea>
  </div>
  <p-footer>
    <div class="ui-g">
      <div class="ui-sm-12 ui-md-6">
        <button [ngStyle]="{'float':'left'}" pTooltip="Cancelar reserva" (click)="confirmacionBorrado()" tooltipPosition="left" pButton
          icon="fa-trash" class="ui-button-danger"></button>
      </div>
      <div class="ui-sm-12 ui-md-6">
        <button [ngStyle]="{'float':'right'}" pTooltip="Guardar" tooltipPosition="left" pButton icon="fa-check" (click)="saveReserva()"
          class="ui-button-success"></button>
      </div>
    </div>
  </p-footer>
</p-dialog>