<p-growl [(value)]="msgs"></p-growl>

<div class="wrapper">
  <!-- Sidebar Holder -->
  <nav id="sidebar" class="hidden-print">
    <div class="sidebar-header" (click)="abrirDialogConfiguracion()">
      <div *ngIf="!oculto">
        <img src="../assets/avatar.png" alt="Nombre" width="30%" height="30%" align="left">
      </div>
      <div *ngIf="oculto">
        <img src="../assets/avatar.png" alt="Nombre" width="100%" height="100%">
      </div>
      <div>
        <h3>{{usuario.nombre}} {{usuario.apellido}}</h3>
      </div>
    </div>
    <ul class="list-unstyled components">
      <li *ngIf="usuario.rol==='ROL_ADMIN'" [routerLink]="['/pantallaApp/profesores']">
        <a>
          <i class="fa fa-graduation-cap"></i>
          Profesores
        </a>
      </li>
      <li [routerLink]="['/pantallaApp/recursos','aulas']">
        <a>
          <i class="glyphicon glyphicon-blackboard"></i>

          Aulas
        </a>
      </li>
      <li [routerLink]="['/pantallaApp/recursos','otros']">
        <a>
          <i class="far fa-keyboard"></i>
          Recursos
        </a>
      </li>
      <li *ngIf="usuario.rol!=='ROL_ADMIN'" [routerLink]="['/pantallaApp/reservas']">
        <a>
          <i class="fa fa-calendar"></i>
          Reservas
        </a>
      </li>
      <li *ngIf="usuario.rol==='ROL_ADMIN'" [routerLink]="['/pantallaApp/cursos']">
        <a>
          <i class="fa fa-columns"></i>
          Cursos
        </a>
      </li>
      <li *ngIf="usuario.rol==='ROL_ADMIN'" [routerLink]="['/pantallaApp/horarios']">
        <a>
          <i class="fa fa-clock"></i>
          Horarios
        </a>
      </li>
      <li *ngIf="usuario.rol==='ROL_ADMIN'" [routerLink]="['/pantallaApp/generador-calendario']">
        <a>
          <i class="fa fa-print"></i>
          Imprimir Calendario
        </a>
      </li>
    </ul>

  </nav>

  <!-- Page Content Holder -->
  <div id="content">

    <nav class="navbar navbar-default">
      <div class="container-fluid">

        <div class="navbar-header">
          <button type="button" (click)="ocultar()" id="sidebarCollapse" class="btn btn-info navbar-btn">
            <i class="fa fa-bars" aria-hidden="true"></i>
          </button>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <form class="navbar-form navbar-left">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Buscar">
            </div>
            <button type="button" class="btn btn-info">
              <i class="fa fa-search" aria-hidden="true"></i>
            </button>
          </form>
          <div class="nav navbar-nav navbar-right">
            <button (click)="logout()" type="button" pTooltip="Cerrar Sesión" class="btn-logout btn btn-danger">
              <i class="fa fa-sign-out" aria-hidden="true"></i>
            </button>
          </div>
        </div>
      </div>
    </nav>
    <router-outlet (activate)="changeOfRoutes()" class="visible-print">
    </router-outlet>
  </div>
</div>

<div *ngIf="cambiarConfig">
  <configuracion-usuario (cerrar)="cerrarDialogReservas($event)"></configuracion-usuario>
</div>