<html>
<p-growl [(value)]="msgs"></p-growl>

<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->
    <h2 class="active"> Sign In </h2>

    <!-- Icon -->
    <div class="fadeIn first">
      <img src="../../../assets/logo.png" width="30%" height="30%" id="icon" alt="User Icon" />
    </div>

    <!-- Login Form -->
    <form (keydown)="login($event)">
      <input type="text" class="fadeIn second" name="email" pInputText [(ngModel)]="usuario.email" placeholder="Email">
      <input type="password" class="fadeIn third" name="password" pInputText [(ngModel)]="password" placeholder="Contraseña">
      <input (click)="login($event)" type="button" class="fadeIn fourth" value="Entrar">
    </form>
  </div>
</div>

</html>