.dialogReserva{
    overflow: visible;
}

.imgFormulario{
    margin-left: 40%;
}

.hoverTable{
    width:100%; 
    border-collapse:collapse; 
}

/* Define the hover highlight color for the table row */
.hoverTable tr:hover {
        background-color:rgb(197, 194, 194);
}

.spinner {
    position: absolute;
    width: 80%;
    height: 100%;
    background: rgb(219, 216, 216);
    z-index: 1;
    opacity: 0.5;               

}