/* You can add global styles to this file, and also import other style files */

body{
    overflow-y: scroll
}

.ui-paginator .ui-paginator-page.ui-state-active {
    background: rgb(74, 161, 201) !important;
    color: #ffffff;
    background: rgb(74, 161, 201) !important;
    
}