/* You can add global styles to this file, and also import other style files */

body{
    overflow-y: scroll
}

.ui-paginator .ui-paginator-page.ui-state-active {
    background: rgb(74, 161, 201) !important;
    color: #ffffff;
    background: rgb(74, 161, 201) !important;
    
}

.calendario .ui-state-highlight {
    border-color: #78b7df !important; 
    background: #78b7df !important;
    color: #0000;
}

.calendario .fc-content{
 color: white;
}