<p-growl [(value)]="msgs"></p-growl>
<p-confirmDialog acceptLabel="Si" rejectLabel="No"></p-confirmDialog>
<h3>{{titulo}}</h3>

<div class="ui-g">
  <div class="ui-g-12">
    <p-dataView class="ui-table-responsive" #dv [value]="recursos" emptyMessage="No hay registros" [paginator]="true" [rows]="12"
      filterBy="nombre" layout="grid">
      <p-header>
        <div class="ui-helper-clearfix">
          <div class="ui-g">
            <div class="ui-g-1 ui-md-1 ui-sm-12">
              <button pButton type="button" [ngStyle]="{'float':'left'}" class="ui-button-info d-none d-sm-block" icon="fa-retweet" (click)="getRecursos()"></button>
              <button pButton type="button" [ngStyle]="{'float':'left'}" class="ui-button-info d-block d-sm-none btn-block" icon="fa-retweet"
                (click)="getRecursos()"></button>
            </div>
            <div class="ui-g-5 ui-md-5 ui-sm-12 filter-container">
              <div style="float:rigth">
                <input type="search" [ngStyle]="{'width':'100%'}" pInputText placeholder="Buscar por nombre" class="d-none d-sm-block" (keyup)="dv.filter($event.target.value)">
                <input type="search" [ngStyle]="{'width':'100%'}" class="d-block d-sm-none" pInputText placeholder="Buscar por nombre" (keyup)="dv.filter($event.target.value)">
              </div>
            </div>
            <div class="ui-g-2 ui-md-2 d-none d-sm-block">
              <p-dataViewLayoutOptions [ngStyle]="{'float':'left'}"></p-dataViewLayoutOptions>
            </div>
            <div class="ui-g-3 ui-md-3 ui-sm-12 filter-container">
              <p-selectButton [options]="opcionesOrdenar" [(ngModel)]="opcionSeleccionada" (onChange)="ordenar()"></p-selectButton>
            </div>
            <div class="ui-g-1 ui-md-1 ui-sm-12">
              <button pButton type="button" [ngStyle]="{'float':'right'}" icon="fa-plus" class="ui-button-success d-none d-sm-block" (click)="abrirDialog()"></button>
              <button pButton type="button" [ngStyle]="{'float':'right'}" icon="fa-plus" class="ui-button-success d-block d-sm-none btn-block"
                (click)="abrirDialog()"></button>
            </div>
          </div>
        </div>
      </p-header>
      <div class="containerTabla">
        <ng-template let-recurso pTemplate="listItem">
          <div class="ui-g" style="padding: 2em;border-bottom: 1px solid #d9d9d9">
            <div class="ui-g-12 ui-md-2" [ngStyle]="{'text-align':'center'}">
              <img *ngIf="!recurso.imagen && tipo==='aulas'" src="../../../assets/aula.png" width="125px" height="100px">
              <img *ngIf="!recurso.imagen && tipo==='otros'" src="../../../assets/recurso.png" width="125px" height="100px">
              <img *ngIf="recurso.imagen" src="{{url}}upload/files/{{recurso.imagen}}" width="100px" height="100px">
            </div>
            <div class="ui-g-12 ui-md-8 recurso-details">
              <div class="ui-g">
                <div class="ui-g-2 ui-sm-6">Nombre: </div>
                <div class="ui-g-10 ui-sm-6">
                  <b>{{recurso.nombre}}</b>
                </div>
              </div>
              <div *ngIf="tipo == 'aulas'" class="ui-g">
                <div class="ui-g-2 ui-sm-6">Capacidad: </div>
                <div class="ui-g-10 ui-sm-6">
                  <b>{{recurso.capacidad}}</b>
                </div>
              </div>
              <div class="ui-g">
                <span *ngIf="recurso.incidencia" pTooltip="{{recurso.incidencia}}" tooltipPosition="bottom">
                  <i class="fa fa-exclamation-triangle icon"></i>
                </span>
                <span *ngIf="recurso.datos" pTooltip="{{recurso.datos}}" tooltipPosition="bottom">
                  <i class="fa fa-info-circle icon2"></i>
                </span>
              </div>
            </div>
            <div class="ui-g-12 ui-md-2 search-icon">
              <button pButton pTooltip="Ver información" tooltipPosition="bottom" type="button" icon="fa-pencil" (click)="seleccionarRecurso(recurso)"
                style="margin-top:0"></button>
              <button pButton pTooltip="Realizar Reserva" tooltipPosition="bottom" type="button" icon="fa-clock" (click)="abrirDialogReserva(recurso,'diaria')"
                style="margin-top:0"></button>
              <button pButton pTooltip="Ver Reservas" tooltipPosition="bottom" type="button" icon="fa-calendar" (click)="abrirDialogReserva(recurso,'reservas')"
                style="margin-top:0"></button>
            </div>
          </div>
        </ng-template>
        <ng-template let-recurso pTemplate="gridItem">
          <div style="padding:.5em" class="ui-g-12 ui-md-2">
            <p-panel [ngStyle]="{'text-align':'center'}">
              <p-header>
                <div class="scrollable">
                  {{recurso.nombre}}
                </div>
              </p-header>
              <img *ngIf="!recurso.imagen && tipo==='aulas'" src="../../../assets/aula.png" width="25%" height="25%">
              <img *ngIf="!recurso.imagen && tipo==='otros'" src="../../../assets/recurso.png" width="25%" height="25%">
              <img *ngIf="recurso.imagen" src="{{url}}upload/files/{{recurso.imagen}}" width="25%" height="25%">
              <div class="recurso-detail" [ngStyle]="{'text-align':'center'}">
                <div *ngIf="tipo == 'aulas'">
                  <b>Capacidad: </b>{{recurso.capacidad}}
                </div>
                <span *ngIf="recurso.incidencia" pTooltip="{{recurso.incidencia}}" tooltipPosition="bottom">
                  <i class="fa fa-exclamation-triangle icon"></i>
                </span>
                <span *ngIf="recurso.datos" pTooltip="{{recurso.datos}}" tooltipPosition="bottom">
                  <i class="fa fa-info-circle icon2"></i>
                </span>
              </div>
              <hr class="ui-widget-content" style="border-top:0">
              <button pButton pTooltip="Ver información" tooltipPosition="bottom" type="button" icon="fa-pencil" (click)="seleccionarRecurso(recurso)"
                style="margin-top:0"></button>
              <button pButton pTooltip="Realizar Reserva" tooltipPosition="bottom" type="button" icon="fa-clock" (click)="abrirDialogReserva(recurso,'diaria')"
                style="margin-top:0"></button>
              <button pButton pTooltip="Ver Reservas" tooltipPosition="bottom" type="button" icon="fa-calendar" (click)="abrirDialogReserva(recurso,'reservas')"
                style="margin-top:0"></button>
            </p-panel>
          </div>
        </ng-template>
        <div class="divLoading" *ngIf="loading">
          <p-progressSpinner></p-progressSpinner>
        </div>
      </div>
    </p-dataView>
  </div>
</div>
<p-dialog [(visible)]="modificando" [modal]="true" [autoAlign]="true" [width]="500" (onHide)="cancelar()" [resizable]="false"
  [draggable]="false" [responsive]="true">
  <p-header>
    Formulario Recurso
  </p-header>
  <div class="ui-g ui-fluid">
    <div class="ui-sm-12 ui-md-12">
      <div class="ui-grid-row">
        <img *ngIf="!recursoSeleccionado.imagen && tipo==='aulas'" class="imgFormulario" src="../../../assets/aula.png" [ngStyle]="{'text-align':'center'}"
          width="30%" height="30%">
        <img *ngIf="!recursoSeleccionado.imagen && tipo==='otros'" class="imgFormulario" src="../../../assets/recurso.png" [ngStyle]="{'text-align':'center'}"
          width="30%" height="30%">
        <img *ngIf="recursoSeleccionado.imagen" class="imgFormulario" src="{{url}}upload/files/{{recursoSeleccionado.imagen}}" alt="Nombre"
          [ngStyle]="{'text-align':'center'}" width="30%" height="30%">
      </div>
    </div>
  </div>
  <form #formRecurso="ngForm">
    <div *ngIf="usuario.rol==='ROL_ADMIN'" class="ui-g ui-fluid">
      <div class="ui-sm-12 ui-md-12">
        <div class="ui-grid-row">
          <span class="ui-float-label">
            <input id="float-input" type="text" size="30" [ngStyle]="{'width':'100%'}" pInputText name="nombre" #nombre="ngModel" [(ngModel)]="recursoSeleccionado.nombre"
              required>
            <label for="float-input">Nombre</label>
          </span>
        </div>
      </div>
    </div>
    <br>
    <div *ngIf="usuario.rol==='ROL_ADMIN'" class="ui-g ui-fluid">
      <div *ngIf="tipo == 'aulas'" class="ui-sm-12 ui-md-12">
        <div class="ui-grid-row">
          <span class="ui-float-label">
            <input id="float-input" type="number" size="30" [ngStyle]="{'width':'100%'}" pInputText name="capacidad" #capacidad="ngModel"
              [(ngModel)]="recursoSeleccionado.capacidad" min="1" required>
            <label for="float-input">Capacidad</label>
          </span>
        </div>
      </div>
      <div class="ui-sm-12 ui-md-12">
        <span>Horario</span>
        <p-dropdown [options]="intervalos" placeholder="Seleccione horario" [(ngModel)]="recursoSeleccionado.intervalo" name="intervalo"
          #intervalo="ngModel" [style]="{'width':'100%'}" optionLabel="nombre" [showClear]="true" required filter="true"></p-dropdown>
      </div>
    </div>
    <div *ngIf="usuario.rol==='ROL_ADMIN'" class="ui-g ui-fluid">
      <div class="ui-sm-12 ui-md-12">
        <div class="ui-grid-row">
          <label for="float-input">Imagen</label>
          <div class="ui-inputgroup">
            <input id="float-input" type="file" name="imagen" #imagen="ngModel" [(ngModel)]="recursoSeleccionado.imagen" size="30" (change)="selectFile($event)"
              [ngStyle]="{'width':'100%'}" pInputText>
            <button pButton type="button" pButton icon="fa-retweet" class="ui-button-info" pTooltip="Imagen por defecto" tooltipPosition="bottom"
              (click)="resetImage()"></button>
          </div>
        </div>
      </div>
    </div>
    <br>
    <div *ngIf="usuario.rol==='ROL_ADMIN'" class="ui-g ui-fluid">
      <div class="ui-sm-12 ui-md-12">
        <div class="ui-grid-row">
          <span class="ui-float-label">
            <textarea rows="5" cols="30" pInputTextarea autoResize="autoResize" [ngStyle]="{'width':'100%'}" pInputText name="datos"
              #datos="ngModel" [(ngModel)]="recursoSeleccionado.datos"></textarea>
            <label for="float-input">Datos</label>
          </span>
        </div>
      </div>
    </div>
    <br>
    <div class="ui-g ui-fluid">
      <div class="ui-sm-12 ui-md-12">
        <div class="ui-grid-row">
          <span class="ui-float-label">
            <textarea rows="5" cols="30" pInputTextarea autoResize="autoResize" [ngStyle]="{'width':'100%'}" pInputText name="incidencia"
              #incidencia="ngModel" [(ngModel)]="recursoSeleccionado.incidencia"></textarea>
            <label for="float-input">Incidencia</label>
          </span>
        </div>
      </div>
    </div>
  </form>
  <p-footer>
    <div class="ui-g">
      <div class="ui-sm-12 ui-md-6">
        <button *ngIf="recursoSeleccionado.id && usuario.rol==='ROL_ADMIN'" [ngStyle]="{'float':'left'}" pTooltip="Borrar" (click)="confirmacionBorrado()"
          tooltipPosition="left" pButton icon="fa-trash" class="ui-button-danger d-none d-sm-block"></button>
        <button *ngIf="recursoSeleccionado.id && usuario.rol==='ROL_ADMIN'" [ngStyle]="{'float':'left'}" pTooltip="Borrar" (click)="confirmacionBorrado()"
          tooltipPosition="left" pButton icon="fa-trash" class="ui-button-danger d-block d-sm-none btn-block"></button>
      </div>
      <div class="ui-sm-12 ui-md-6">
        <button [ngStyle]="{'float':'right'}" pTooltip="Guardar" tooltipPosition="left" [disabled]="!formRecurso.form.valid" pButton
          icon="fa-check" (click)="upload(formRecurso)" class="ui-button-success d-none d-sm-block"></button>
        <button [ngStyle]="{'float':'right'}" pTooltip="Guardar" tooltipPosition="left" [disabled]="!formRecurso.form.valid" pButton
          icon="fa-check" (click)="upload(formRecurso)" class="ui-button-success d-block d-sm-none btn-block"></button>
      </div>
    </div>
  </p-footer>
</p-dialog>

<div *ngIf="opcionReservaSeleccionada">
  <reserva [dialog]="opcionReservaSeleccionada" [recurso]="recursoReserva" (cerrar)="cerrarDialogReservas($event)"></reserva>
</div>