<p-growl [(value)]="msgs"></p-growl>
<p-confirmDialog acceptLabel="Si" rejectLabel="No"></p-confirmDialog>
<h3>Horarios</h3>

<div class="ui-g">
  <div class="ui-g-12">
    <p-dataView class="ui-table-responsive" #dv [value]="horarios" emptyMessage="No hay registros" [paginator]="true" [rows]="12"
      filterBy="nombre" layout="grid">
      <p-header>
        <div class="ui-helper-clearfix">
          <div class="ui-g">
            <div class="ui-g-2 ui-md-2 ui-sm-12">
              <button pButton type="button" [ngStyle]="{'float':'left'}" class="ui-button-info d-none d-sm-block" icon="fa-retweet" (click)="getHorarios()"></button>
              <button pButton type="button" [ngStyle]="{'float':'left'}" class="ui-button-info d-block d-sm-none btn-block" icon="fa-retweet"
                (click)="getHorarios()"></button>
            </div>
            <div class="ui-g-4 ui-md-4 ui-sm-12 filter-container">
              <div style="position:relative">
                <input type="search" [ngStyle]="{'width':'100%'}" pInputText placeholder="Buscar por nombre" class="d-none d-sm-block" (keyup)="dv.filter($event.target.value)">
                <input type="search" [ngStyle]="{'width':'100%'}" pInputText placeholder="Buscar por nombre" class="d-block d-sm-none" (keyup)="dv.filter($event.target.value)">
              </div>
            </div>
            <div class="ui-g-4 ui-md-4 ui-g-4 ui-md-4 d-none d-sm-block">
              <p-dataViewLayoutOptions [ngStyle]="{'float':'left'}"></p-dataViewLayoutOptions>
            </div>
            <div class="ui-g-4 ui-md-2 ui-sm-12">
              <button pButton type="button" [ngStyle]="{'float':'right'}" class="ui-button-success d-none d-sm-block" icon="fa-plus" (click)="abrirDialog()"></button>
              <button pButton type="button" [ngStyle]="{'float':'right'}" class="ui-button-success d-block d-sm-none btn-block" icon="fa-plus"
                (click)="abrirDialog()"></button>
            </div>
          </div>
        </div>
      </p-header>
      <ng-template let-horario pTemplate="listItem">
        <div class="ui-g" style="padding: 2em;border-bottom: 1px solid #d9d9d9">
          <div class="ui-g-12 ui-md-2" [ngStyle]="{'text-align':'center'}">
            <img src="../../../assets/horarios.png" width="30%" height="100%">
          </div>
          <div class="ui-g-12 ui-md-8 horario-details">
            <div class="ui-g">
              <div class="ui-g-2 ui-sm-6">Nombre: </div>
              <div class="ui-g-10 ui-sm-6">
                <b>{{horario.nombre}}</b>
              </div>
            </div>
          </div>
          <div class="ui-g-12 ui-md-1 search-icon">
            <button pButton pTooltip="Ver información" tooltipPosition="bottom" type="button" icon="fa-pencil" (click)="seleccionarHorario(horario)"
              style="margin-top:0"></button>
          </div>
        </div>
      </ng-template>
      <ng-template let-horario pTemplate="gridItem">
        <div style="padding:.5em" class="ui-g-12 ui-md-2">
          <p-panel [ngStyle]="{'text-align':'center'}">
            <p-header>
              <div class="scrollable">
                {{horario.nombre}}
              </div>
            </p-header>
            <img src="../../../assets/horarios.png" width="25%" height="25%">
            <hr class="ui-widget-content" style="border-top:0">
            <button pButton pTooltip="Ver información" tooltipPosition="bottom" type="button" icon="fa-pencil" (click)="seleccionarHorario(horario)"
              style="margin-top:0"></button>
          </p-panel>
        </div>
      </ng-template>
    </p-dataView>
  </div>
</div>
<div>
  <p-dialog [(visible)]="modificando" [autoAlign]="true" [modal]="true" (onHide)="cancelar()">
    <p-header>
      Formulario Horario
    </p-header>
    <form #formHorario="ngForm">
      <br>
      <div class="ui-grid-row">
        <span class="ui-float-label">
          <input id="float-input" type="text" size="30" pInputText name="nombre" #nombre="ngModel" [(ngModel)]="horarioSeleccionado.nombre"
            required>
          <label for="float-input">Nombre</label>
        </span>
      </div>
      <br>
      <div class="ui-sm-12 ui-md-12">
        <div class="ui-grid-row">
          <label for="float-input">Fecha máxima</label>
          <br>
          <p-calendar [ngStyle]="{'width':'100%'}" [(ngModel)]="horarioSeleccionado.fecha_max" [locale]="es" [disabledDays]="[0,6]"
            name="fechas"  [minDate]="minDate" [defaultDate]="horarioSeleccionado.fecha_max" [showIcon]="true" required></p-calendar>
        </div>
      </div>
      <br>
      <div class="ui-g">
        <div class="ui-sm-12 ui-md-10">
          <b>Nuevo Intervalo</b>
        </div>
      </div>
      <div class="ui-g">
        <div class="ui-sm-12 ui-md-1">
          <div class="textoHorario">De</div>
        </div>
        <div class="ui-sm-12 ui-md-4">
          <input [ngStyle]="{'width':'100%'}" pInputText type="time" name="inicio" #inicio="ngModel" (ngModelChange)="comprobar()"
            [(ngModel)]="intervalo.inicio">
        </div>
        <div class="ui-sm-12 ui-md-1">
          <div class="textoHorario">A</div>
        </div>
        <div class="ui-sm-12 ui-md-4">
          <input [ngStyle]="{'width':'100%'}" pInputText type="time" name="fin" #fin="ngModel" [(ngModel)]="intervalo.fin" (ngModelChange)="comprobar()">
        </div>
        <div class="ui-sm-12 ui-md-2">
          <button [ngStyle]="{'float':'right'}" pTooltip="Añadir Intervalo" tooltipPosition="left" pButton icon="fa-plus" (click)="addIntervalo()"
            class="ui-button-success" [disabled]="intervalo.valido"></button>
        </div>
      </div>

      <div class="ui-g">
        <div class="ui-sm-12 ui-md-10">
          <b>Listado</b>
        </div>
      </div>
      <div *ngFor="let intervalo of intervalos; let i = index" [ngStyle]="{'width':'100%'}">
        <b>De </b>{{intervalo.inicio}}
        <b> a </b>{{intervalo.fin}}
        <button pTooltip="Borrar intervalo" tooltipPosition="bottom" pButton icon="fa-trash" (click)="removeIntervalo(intervalo)"
          class="ui-button-danger"></button>
      </div>
    </form>
    <p-footer>
      <div class="ui-g">
        <div class="ui-sm-12 ui-md-6">
          <button *ngIf="horarioSeleccionado.id" pTooltip="Borrar horario" [ngStyle]="{'float':'left'}" tooltipPosition="bottom" pButton
            icon="fa-trash" (click)="confirmacionBorrado()" class="ui-button-danger d-block d-sm-none btn-block"></button>
          <button *ngIf="horarioSeleccionado.id" pTooltip="Borrar horario" [ngStyle]="{'float':'left'}" tooltipPosition="bottom" pButton
            icon="fa-trash" (click)="confirmacionBorrado()" class="ui-button-danger d-none d-sm-block"></button>
        </div>
        <div class="ui-sm-12 ui-md-6">
          <button [ngStyle]="{'float':'right'}" pTooltip="Guardar" tooltipPosition="left" [disabled]="!formHorario.form.valid || !intervalos[0]"
            pButton icon="fa-check" (click)="saveHorario(); formHorario.reset();" class="ui-button-success d-block d-sm-none btn-block"></button>
          <button [ngStyle]="{'float':'right'}" pTooltip="Guardar" tooltipPosition="left" [disabled]="!formHorario.form.valid || !intervalos[0]"
            pButton icon="fa-check" (click)="saveHorario(); formHorario.reset();" class="ui-button-success d-none d-sm-block"></button>
        </div>
      </div>
    </p-footer>
  </p-dialog>
</div>